# Atividade - Distribuição de Frequência

In [1]:
import pandas as pd
import numpy as np

np.random.seed(123)

estilos_musicais = ["Rock", "Pop", "Eletrônica", "Funk", "Sertanejo"]
regioes = ["Centro-Oeste", "Nordeste", "Norte", "Sudeste", "Sul"]

dados = pd.DataFrame({
    'Estilo_Musical': np.random.choice(estilos_musicais, 500, replace=True),
    'Regiao': np.random.choice(regioes, 500, replace=True)
})

dados.head()

  Estilo_Musical    Regiao
0     Eletrônica       Sul
1      Sertanejo     Norte
2     Eletrônica  Nordeste
3            Pop   Sudeste
4           Funk  Nordeste

**Gerando a tabela cruzada com as frequências absolutas**

In [3]:
tab_freq_absoluta = pd.crosstab(dados['Estilo_Musical'], dados['Regiao'])

tab_freq_absoluta

Regiao          Centro-Oeste  Nordeste  Norte  Sudeste  Sul
Estilo_Musical
Eletrônica                22        14     15       21   21
Funk                      27        24     12       26   15
Pop                       19        25     20       26   18
Rock                      22        23     17       22   15
Sertanejo                 14        12     22       25   23

**Gerando a tabela de frequências relativas por coluna**

In [8]:
tab_estilo_musical_relativa = pd.crosstab(
    dados['Estilo_Musical'], dados['Regiao'], normalize='columns'
)*100

tab_estilo_musical_relativa = round(tab_estilo_musical_relativa,1)

tab_estilo_musical_relativa

Regiao          Centro-Oeste  Nordeste  Norte  Sudeste   Sul
Estilo_Musical
Eletrônica              21.2      14.3   17.4     17.5  22.8
Funk                    26.0      24.5   14.0     21.7  16.3
Pop                     18.3      25.5   23.3     21.7  19.6
Rock                    21.2      23.5   19.8     18.3  16.3
Sertanejo               13.5      12.2   25.6     20.8  25.0

**Gerando a tabela de frequências relativas por linha**

In [9]:
tab_estilo_musical_relativa_linhas = pd.crosstab(
    dados['Estilo_Musical'], dados['Regiao'], normalize='index'
)*100

resultado = round(tab_estilo_musical_relativa_linhas, 1)

resultado

Regiao          Centro-Oeste  Nordeste  Norte  Sudeste   Sul
Estilo_Musical
Eletrônica              23.7      15.1   16.1     22.6  22.6
Funk                    26.0      23.1   11.5     25.0  14.4
Pop                     17.6      23.1   18.5     24.1  16.7
Rock                    22.2      23.2   17.2     22.2  15.2
Sertanejo               14.6      12.5   22.9     26.0  24.0

**Gerando a tabela de frequências relativas por total geral**

In [10]:
tab_estilo_musical_relativa_total = pd.crosstab(
    dados['Estilo_Musical'], dados['Regiao'], normalize='all'
)*100

resultado = round(tab_estilo_musical_relativa_total, 1)

resultado

Regiao          Centro-Oeste  Nordeste  Norte  Sudeste  Sul
Estilo_Musical
Eletrônica               4.4       2.8    3.0      4.2  4.2
Funk                     5.4       4.8    2.4      5.2  3.0
Pop                      3.8       5.0    4.0      5.2  3.6
Rock                     4.4       4.6    3.4      4.4  3.0
Sertanejo                2.8       2.4    4.4      5.0  4.6